.icon-hover-primary:hover {
    border-color: #3b71ca !important;
    background-color: white !important;
  }
  
  .icon-hover-primary:hover i {
    color: #3b71ca !important;
  }
  .icon-hover-danger:hover {
    border-color: #dc4c64 !important;
    background-color: white !important;
  }
  
  .icon-hover-danger:hover i {
    color: #dc4c64 !important;
  }

   .quantity {
    height: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: auto;
    background-color: #ffffff;
    border: 1px solid #e5e5e5;
    border-radius: 7px;
    filter: drop-shadow(0px 1px 0px #efefef)
      drop-shadow(0px 1px 0.5px rgba(239, 239, 239, 0.5));
  }
  
  .cart .quantity label {
    width: 20px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 2px;
    font-size: 15px;
    font-weight: 700;
    color: #47484b;
  }
  
  .cart .quantity button {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    outline: none;
    background-color: #c49b63;

    padding-bottom: 2px;
  }
  .cart .quantity button:hover {
    background-color:#7e6440 ;

  }
  
  
.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
}


.card-img-container {
  position: relative;
  overflow: hidden;
}

.card-img-top {
  width: 100%;
  height: 350px;
}

.button-overlay {
  position: absolute;
  top: 50%;
  right: -50%;
  transform: translateY(-30%);
  display: flex;
  flex-direction: column;
  gap: 10px;
  transition: right 0.5s ease;
}

.btn-circle {
  border-radius: 50%;
  background-color: #c49b63;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-circle:hover{
  opacity: .8;
}

.product-card:hover .button-overlay {
  right: 10%; /* Adjust this to half of the card image's width */
}
.heart-icon {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 24px;
  color: red;
  display: none;
}
.rating {
  color: gold;
  font-size: 1.25rem;
}
