    
  <div class="row">
@for(product of products; track product.id; let i=$index){
   <div class="col-md-6 col-lg-4 mb-5">
    <div class="menu-entry ">
        <a href="#" > <img src="{{product.image}}"  class="img w-100" alt=""></a>
        <div class="text text-center pt-4">
            <h3><a href="#">{{product.name}}</a></h3>
            <p>{{product.description}}</p>
            <p class="price"><span>${{product.price}}</span></p>
             @switch (product.quantity) { 
                @case(0){
                    <div class="text-danger p-3 rounded m-3">out of stock</div>
                    <button class="btn btn-primary text-white btn-outline-primary"  disabled><a><i id="carti"  class="bi bi-cart-plus-fill"></i></a>Add to cart</button>
                } @case(1){
                    <div class="text-warning p-3 rounded m-3">There is only one </div>
                    <button class="btn btn-primary text-white btn-outline-primary"><a><i id="carti"  class="bi bi-cart-plus-fill"></i></a>Add to cart</button>

                }  @default{
                    <div class="text-success p-3 rounded m-3">Available</div>
                    <button class="btn btn-primary text-white btn-outline-primary" ><a><i id="carti"  class="bi bi-cart-plus-fill"></i></a>Add to cart</button>

  } }
        </div>
</div>
   </div>
    
}
</div>  