    
 <div class="container mt-5">
    <div class="row">
        @for(product of products; track product.id; let i=$index){
   <!-- <div class="col-md-6 col-lg-4 mb-5">
    <div class="menu-entry ">
        <a href="#" > <img src="{{product.image}}"  class="img w-100" alt=""></a>
        <div class="text text-center pt-4">
            <h3><a href="#">{{product.name}}</a></h3>
            <p>{{product.description}}</p>
            <p class="price"><span>${{product.price}}</span></p>
             @switch (product.quantity) { 
                @case(0){
                    <div class="text-danger p-3 rounded m-3">out of stock</div>
                    <button class="btn btn-primary text-white btn-outline-primary"  disabled><a><i id="carti"  class="bi bi-cart-plus-fill"></i></a>Add to cart</button>
                } @case(1){
                    <div class="text-warning p-3 rounded m-3">There is only one </div>
                    <button class="btn btn-primary text-white btn-outline-primary"><a><i id="carti"  class="bi bi-cart-plus-fill"></i></a>Add to cart</button>

                }  @default{
                    <div class="text-success p-3 rounded m-3">Available</div>
                    <button class="btn btn-primary text-white btn-outline-primary" ><a><i id="carti"  class="bi bi-cart-plus-fill"></i></a>Add to cart</button>

  } }
        </div>
</div>
   </div> -->
   <div class="col-md-4">
    <div class="card product-card">
        <div class="card-img-container">
            <img src="{{product.image}}" class="card-img-top" alt="Product Image">
            <div class="heart-icon">
                <i class="bi bi-heart-fill"></i>
            </div>
            <div class="button-overlay">
                <button class="btn btn-circle btn-secondary" (click)="AddtoCart(product.id,product.price)"><i class="bi bi-bag-fill"></i></button>
                <button class="btn btn-circle btn-secondary" (click)="addToFav(product.id)"><i class="bi bi-emoji-heart-eyes-fill"></i>
                </button>
            </div>
        </div>
        <div class="card-body">
            <h5 class="card-title">
                {{product.name}}
            </h5>
            <div class="star-rating">
                <!-- Render stars based on average rating -->
                
              </div>
            <p class="card-text">${{product.price}}</p>
        </div>
    </div>
  </div>  
}
</div>
</div>  