<div class="container">
    <h1 class="text-center mb-4">Welcome to Dashboard</h1>

        <button type="submit" [routerLink]="['/Product',0, 'add']"class="btn btn-success mb-5 ">Add Product</button>
      
      <table class="table mb-5">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th>Image</th>
            <th scope="col">Product</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Description</th>
            <th  scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
@for(product of productList;track i;let i=$index){
          <tr>
            <th scope="row">{{i+1}}</th>
            <td><img src="{{product.image}}" style="width: 55px; height: 55px;"></td>
            <td>{{product.name}}</td>
            <td>{{product.price}}</td>
            <td>{{product.quantity}}</td>
            <td>{{product.description}}</td>
            <td>
              <i [routerLink]="['/Product', product.id, 'details']" class=" mx-2 fs-5 bi bi-info-square-fill text-info"></i>
              <i [routerLink]="['/Product', product.id, 'add']" class=" mx-2 fs-5 bi bi-pen-fill text-secondary"></i>
              <i  (click)="delete(product.id)" class=" mx-2 fs-5 bi bi-trash3-fill text-danger"></i>

            </td>
          </tr>
        }
        </tbody>
      </table>
  </div>