th{
    background-color: #665443;
    color: white;
}
td{
    background-color: beige;
}
h1{
    color:#76614d ;
    font-weight: bolder;
    border-style: 2px solid ;
}
input{
    background-color: beige ;
}
